@using TravelTripProje_v2.Models.Siniflar
@model List<Blog>


    <div class="right">
        <div class="bot-left">
            <img src="~/web/images/pic2.jpg" style="width:300px; height:150px;" alt="" />
        </div>
        <div class="left-text">

            <h4>Bir Sonraki Rota Belçika</h4>
            <span class="doller">15.04.2020</span>
            <p>Cermen ve Latin dünyası arasında bir sınır oluşturan Belçika'da </p>
            <p><a href="#"><span class="read">Devamını Oku >></span></a></p>
        </div>
    </div>


